.message{
  position: fixed;
  display: block;

  top: 1em;

  width: 15%;

  margin-left: 53%;
  left: -15%;

  height: 100px;

  z-index: 10;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #0e0e0e;
  }

.message_table{
  position: absolute;

  width: 30%;

  margin-left: 0%;


  height: 100px;

  background: #F47676;
  border: 0.5px solid #000000;
  border-radius: 13px 0px 0px 13px;
  }

.message-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.message-header h2{

  text-align: center;
  font-size: 1em;
}

.message-header button{
  cursor: pointer;
}

.message-header p{
  font-size: 0.5em;
}
